.content-container {
  width: 100%;
  height: 100%;
  display: flex;

  .left-container-side {
    width: 35%;
    min-width: 120px;
    height: 100%;
    background: #363742;
    padding: 40px 20px;
    display: flex;
    justify-content: end;
    align-items: start;

    .inner-container {
      width: 50%;
      min-width: 100px;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 2px;
    }
  }

  .right-container-side {
    width: 65%;
    min-width: 200px;
    height: 100%;
    background: #292b36;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .headline {
      font-size: 1.4rem;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }

    .main-content {
      width: 100%;
      min-width: 320px;
      height: 100%;
      padding: 20px 80px;
    }
  }
}

h3 {
  color: #7f7f7f;
  padding: 0 10px;
  margin: 0 0 10px 0;
}

.set-link {
  border: none;
  outline: none;
  background: none;
  border-radius: 4px;
  color: #a8a8a8;
  width: 60%;
  min-width: 100px;
  height: 40px;
  text-align: left;
  padding: 0 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: .3s all;

  &:hover {
    color: #efefef;
    filter: brightness(1.3);
    background: #363742;
  }
}

.active {
  color: #efefef;
  filter: brightness(1.3);
  background: #363742;
}

.close {
  z-index: 80;
  position: absolute;
  top: 30px;
  right: 120px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1.3);
  background: #363742;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: .2s all;

  &:hover {
    filter: brightness(1.3);
    background: #9b091a;
  }
}
