body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #662ea8 0%, #4322a6 100%);
  height: 100vh;
  width: 100vw;
}
