* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #662ea8 0%, #4322a6 100%);
  height: 100vh;
  width: 100vw;
}

.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #191b20;
}

.full-page-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-centered {
  align-items: center;
  justify-content: center;
}

.flex-flow-column {
  flex-direction: column;
}

.flex-flow-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

h3 {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

.headline-uppercase {
  text-transform: uppercase;
}

.normal-btn {
  width: 140px;
  height: 35px;
  color: #e0e0e0;
  font-size: 0.95rm;
  background: #191b20;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .2s all;

  &:hover {
    filter: brightness(1.2);
  }
}

.primary-btn {
  width: 140px;
  height: 35px;
  color: #e0e0e0;
  font-size: 0.95rm;
  background: #5c3ad4;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .2s all;

  &:hover {
    filter: brightness(1.2);
  }
}

.accent-highlight {
  color: #5c3ad4;
  font-weight: bold;
  filter: brightness(1.2);
}

.bold {
  font-weight: bolder;
}

.normal-input-field {
  width: 200px;
  height: 35px;
  background: #191b20;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 10px;
  color: #e0e0e0;
  transition: .2s all;

  &:hover, &:focus {
    border: 1px solid #5c3ad4;
  }
}

/*
 Modals
 */

/* Modal-Overlay */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal-Box */
.modal {
  background: #292b36;
  border-radius: 8px;
  border: 1px solid #26282d;
  padding: 1rem 1.25rem;
  min-width: 320px;
  max-width: 480px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.modal-header h4 {
  margin: 0;
  font-size: 1rem;
  color: #e0e0e0;
}

.modal-body {
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 8px;


}

/* Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 0.5rem;
}
