* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #662ea8 0%, #4322a6 100%);
  height: 100vh;
  width: 100vw;
}

.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #191b20;
}

.full-page-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-centered {
  align-items: center;
  justify-content: center;
}

.flex-flow-column {
  flex-direction: column;
}

.flex-flow-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

h3 {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

.headline-uppercase {
  text-transform: uppercase;
}
