:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-modal-set {
  position: relative;
  width: 65%;
  min-width: 200px;
  height: 450px;
  border-radius: 14px;
  background: #191b20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  overflow: hidden;

  .banner-preview {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 6px solid #5c3ad4;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: #5c3ad4;
      filter: brightness(1.3);
      z-index: 0;
    }
    z-index: 1;
  }

  .avatar-box {
    position: absolute;
    z-index: 1;
    width: 92px;
    height: 92px;
    top: 60px;
    left: 30px;
    border-radius: 50%;
    border: 6px solid #5c3ad4;
    background: #191b20;
  }

  .top-bar-header {
    width: 100%;
    height: 65px;
    padding: 10px 0 10px 135px;

    .top-display-name {
      font-size: 1.1rem;
      color: white;
      font-weight: bold;
    }
  }

  .controls-container {
    width: 100%;
    flex-grow: 1;
    padding: 0 15px 15px 15px;

    .controls {
      width: 100%;
      height: 100%;
      background: #292b36;
      border-radius: 10px;
    }
  }
}
