@use "../../styles/colors" as *;

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: transparent;

  .search-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    .search {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      border: 1px solid $background-black;
      padding: 22px;
      outline: none;
      background: lighten($background-black, 5%);
      color: #efefef;
      font-size: 1rem;
      transition: .2s all;

      &:focus,, &:hover {
      border-color: #5c3ad4;
    }
    }
  }

  .list-content {
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: auto;
    padding: 10px 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 15px;
    flex-flow: wrap;

    .friend-card {
      position: relative;
      width: 300px;
      height: 100px;
      background: $background-secondary;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: .2s all;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      transform: scale(1);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
      }

      .fallback-color-back {
        width: 100%;
        height: 100%;
        background: #5c3ad4;
      }

      .friend-content {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .friend-avatar-box {
          width: 80px;
          height: 100%;
          border-radius: 50%;
          background: $background-primary;
          border: 4px solid $background-black;
          overflow: hidden;
          left: 10px;
          top: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .friend-text {
          width: calc(100% - 100px);
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 3px;

          h5 {
            font-size: 1.1rem;
            color: #fff;
          }

          span {
            font-size: 0.9rem;
            color: #c0c0c0;
          }
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
