.card-set {
  width: 65%;
  min-height: 20px;
  border-bottom: 1px solid #454551;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
  padding: 15px 5px;

  h5 {
    color: #e0e0e0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .button-container {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .input-show-container {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.separator {
  width: 65%;
  height: 1px;
  background: #a1a1a1;
}

.info-text-container {
  width: 65%;
  min-height: 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 15px 5px;

  p {
    color: #a1a1a1;
    font-size: 0.9rem;
  }
}
