@use "../../../styles/colors" as *;

.header {
  width: 100%;
  height: 50px;
  background: $background-secondary;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;

  .title {

    font-size: 1.05rem;
    color: #a0a0a0;

    fa-icon {
      font-size: 1.2rem;
    }
  }

  .header-btn {
    min-width: 50px;
    height: 35px;
    font-size: 1rem;
    border-radius: 4px;
    padding: 7px 10px;
    border: none;
    outline: none;
    background: $background-secondary;
    color: #c0c0c0;
    cursor: pointer;
    transition: .2s all;

    &:hover {
      background: lighten($background-secondary, 5%);
    }
  }

  .active {
    background: lighten($background-secondary, 5%);
  }

  .header-friend-btn {
    background: #5c3ad4;
    color: #d0d0d0;
    transition: .2s all;

    &:hover {
      background: lighten(#5c3ad4, 5%);
    }

    fa-icon {
      font-size: 0.9rem;
    }
  }
}

.main-content {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
  flex-direction: row;

  .activity-content {
    width: 380px;
    height: 100%;
    background: $background-secondary;
    border-top: 1px solid $background-black;
  }
}

.friend-add-search {
  width: 100%;
  height: 40px;
  font-size: 1rem;
}

.list-results {
  width: 100%;
  height: 200px;
  max-height: 600px;
  border-radius: 6px;
  background: $background-black;
  overflow-y: auto;
}

.friend-search-item {
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 1rem;
  background: #1a1b1f;
  border-radius: 6px;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background 0.15s ease;

  &:hover {
    background: #222329;
  }
}

.friend-search-main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.friend-search-item .avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  background: #2b2d31;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #363742;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.friend-search-item .text {
  display: flex;
  flex-direction: column;

  h5 {
    font-size: 1rem;
    color: #fff;
    margin: 0;
  }

  span {
    font-size: 0.85rem;
    color: #a3a3a3;
  }
}

.friend-search-item .primary-btn {
  height: 32px;
  padding: 0 1rem;
  font-size: 0.85rem;
}

.no-results {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #999;
  font-size: 0.9rem;
}
