@use '../../../../../styles/colors' as *;

:host {
  width: 100%;
}

.section-title {
  margin: 20px 25px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #b5bac1;
}

.section-separator {
  margin: 1.5rem 25px;
  border-top: 1px solid #3b3d43;
}

.content-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;

  .list-content {
    width: 100%;
    height: auto!important;
  }
}

.date-info {
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 25px;
  top: 10px;
  right: -25px;
  font-size: 0.8rem;
  color: #b5bac1;
}

