server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/development
    username: dev
    password: carodevsql
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  flyway:
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

jwt:
  issuer: "realtime-platform"
  access-ttl-minutes: 15
  refresh-ttl-days: 30
  secret: "CHANGE_ME_MIN_32_BYTES_LONG_SECRET" # .env later
cors:
  allowed-origins: "http://localhost:4200"