:host {
  width: 100%;
}

.nothing-happens {
  width: 100%;
  text-align: center;
  color: #535353;
  font-size: 1rem;

  span {
    font-weight: bold;
    color: #5c3ad4;
    text-decoration: underline;
    cursor: pointer;
    transition: .2s all;

    &:hover {
      color: lighten(#5c3ad4, 10%);
    }
  }
}
