@use "../../styles/colors" as *;

:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.client-view-content {
  width: calc(100% - 350px);
  height: 100%;
  background: $background-black;
}
