$background-primary: #2e303b;
$background-secondary: #292b36;
$background-black: #191b20;

$text-white: #fff;
$text-gray: #a0a0a0;
$text-decent: #cecece;

$success-color: #58e06c;
$success-color-darker: #33b241;
$error-color: #e04c58;
$warning-color: #e0a458;
$info-color: #5896e0;
